{% extends "trips/base.html" %}

{% block left_menu %}
    <div style="width: 20%;float: left;">
        <a href=""><div class="nav-button">Button1</div></a>
        <a href=""><div class="nav-button">Button2</div></a>
        <a href=""><div class="nav-button">Button3</div></a>
        <a href=""><div class="nav-button">Button4</div></a>
        <a href=""><div class="nav-button">Button5</div></a>
    </div>
{% endblock %}

{% block top_menu %}
    <div style="height: 40px; padding-bottom: 25px;">
        <h1> Unnamed company site </h1>
    </div>
{% endblock top_menu %}