<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="color:red;">
    {{ message }}
    </p>
    <form method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        {% comment %} 
        <br>
        <br>
        <br>
        {{ form.about.label }}
        {{ form.about }}
        {{ form.username.label }}
        {{ form.username }} 
        {% endcomment %}
        <input type="submit">
    </form>
</body>
</html>